In [39]:
import pandas as pd
import tabula

In [40]:
pdf_path = 'box_score/Planilla estad√≠stica FIBA CXO vs HAL 04 noviembre.pdf'

In [41]:
tablas = tabula.read_pdf(pdf_path, pages="all", multiple_tables=True, encoding='ISO-8859-1')

In [42]:
df = pd.DataFrame(tablas[1])

In [43]:
df = df.drop(columns=["Unnamed: 1"])

In [44]:
headers = ['NOMBRE', 'MIN', 'TC', 'T2', 'T3', 'T1', 'REB', 'AST', 'PER', 'REC', 'TAP', 'FALTAS', '+/-', 'PTS']

In [45]:
df.columns = headers

In [46]:
df = df.drop([0, 1])

In [47]:
df = df[~df['NOMBRE'].str.contains("Equipo/Entrenador|Totales", na=False)]

In [48]:
df['NOMBRE'] = df['NOMBRE'].str.replace(r'^\*?\d+\s*', '', regex=True)

In [49]:
df['MIN'] = df['MIN'].replace('NJ', '0:0')
df[['MIN', 'SEG']] = df['MIN'].str.split(':', expand=True)

In [50]:
df['TC'] = df['TC'].fillna('0/0')
df[['TCC', 'TCI']] = df['TC'].str.extract(r'(\d+)/(\d+)').fillna(0)
df = df.drop(columns=['TC'])

In [52]:
df['T2'] = df['T2'].fillna('0/0')
df[['T2C', 'T2I']] = df['T2'].str.extract(r'(\d+)/(\d+)').fillna(0)
df = df.drop(columns=['T2'])

In [54]:
df['T3'] = df['T3'].fillna('0/0')
df[['T3C', 'T3I']] = df['T3'].str.extract(r'(\d+)/(\d+)').fillna(0)
df = df.drop(columns=['T3'])

In [55]:
df['T1'] = df['T1'].fillna('0/0')
df[['T1C', 'T1I']] = df['T1'].str.extract(r'(\d+)/(\d+)').fillna(0)
df = df.drop(columns=['T1'])

In [ ]:
df['REB'] = df['REB'].fillna('0 0 0')
df[['RO', 'RD', 'RT']] = df['REB'].str.split(' ', expand=True)
df = df.drop(columns=['REB'])

In [63]:
df['FALTAS'] = df['FALTAS'].fillna('0 0')
df[['FALTA_CON', 'FALTA_REC']] = df['FALTAS'].str.split(' ', expand=True)
df = df.drop(columns=['FALTAS'])

In [61]:
df['AST'] = df['AST'].fillna('0')
df['PER'] = df['PER'].fillna('0')
df['REC'] = df['REC'].fillna('0')
df['TAP'] = df['TAP'].fillna('0')
df['+/-'] = df['+/-'].fillna('0')
df['PTS'] = df['PTS'].fillna('0')

In [64]:
df

,NOMBRE,MIN,AST,PER,REC,TAP,+/-,PTS,SEG,TCC,...,T2I,T3C,T3I,T1C,T1I,RO,RD,RT,FALTA_CON,FALTA_REC
2,Eriberto De la Cruz,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Jose Aguirre,18,2,0,2,0,14,12,26,5,...,5,2,3,0,0,1,1,2,0,1
4,Ignacio Vega,29,3,1,2,0,33,7,05,3,...,4,1,8,0,2,1,2,3,3,3
5,Martin Quiroz,20,6,2,2,0,27,17,01,8,...,9,1,1,0,0,1,4,5,2,1
6,Joseph Orrego,30,1,1,2,0,20,15,21,6,...,6,3,4,0,1,3,2,5,2,2
7,Daniel Valverde,15,1,2,0,1,16,2,30,1,...,2,0,1,0,0,1,3,4,3,2
8,Felipe Lara,06,1,1,0,0,14,6,20,3,...,3,0,1,0,0,1,1,2,0,0
9,Danger Campos,18,2,0,1,0,14,2,01,1,...,6,0,2,0,0,1,1,2,0,0
10,Daniel Mu√±oz,06,1,0,0,0,12,2,11,1,...,1,0,1,0,0,0,4,4,3,0
11,Aaron Orellana,16,3,1,0,1,14,2,05,1,...,2,0,1,0,0,1,2,3,4,0
12,Sebastian Gonzalez (C),21,1,1,1,0,23,12,03,4,...,3,2,4,2,4,0,7,7,1,3
13,Sebastian Briones,18,1,0,4,1,18,16,57,6,...,4,4,4,0,0,0,0,0,3,0